.FavoritesCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 425px;
    height: 55px;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 0 20px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .4);
    position: relative;
    margin: 0 0 10px 0;
}

.CityInfoContainer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.FavoritesCard:hover {
    background-color: rgba(0, 0, 0, .7);
}

.FavoritesCard button {
    visibility: hidden;
}

.FavoritesCard:hover button {
    visibility: visible;
}

.FavoritesCard img {
    height: 65px;
}

.City {
    font-size: 18px;
    font-family: "Amaranth", sans-serif;
    color: seashell;
    width: 100%;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.Temperature {
    font-family: "Autour One" ,sans-serif;
    color: seashell;
    font-size: 20px;
}


@media (max-width: 1024px) {
    .FavoritesCard{
        width: 85%;
        justify-items: center;
        align-items: center;
    }
    .FavoritesCard button {
        visibility: visible;
        position: relative;
        left:0;
        background-color: rgba(225, 0, 0, 0.2);
        margin: 0 0 0 15px;
        border-radius: 7px;
    }
}