.Input {
    width: 250px;
    padding: 5px 20px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid turquoise;
    outline: none;
    font-size: 18px;
    text-align: center;
}

::placeholder {
    color: seashell;
    transition: all 0.3s ease-in-out;
}

.Input:focus::placeholder {
    color: transparent;
}