.Button {    
    border: none;    
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;   
    cursor: pointer;
}

.Search {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-color: rgba(72, 72, 72, .3);
    font-size: 18px;
    color:whitesmoke;
}

.Remove {
    position: absolute;
    left: -35px;
    font-size: 25px;
    background-color: transparent;
    color: rgb(226, 34, 34);
}

.Add {
    background-color: darkseagreen;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 30px;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    color: whitesmoke;
}

.Error {
    font-size: 30px;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: steelblue;
}

