.LocationName {
    font-weight: 100;
    color: seashell;
    font-family: "Amaranth" ,sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.Forecast {
    width: 90%;
}

@media (max-width: 1024px) {
    .Forecast {
        width: 85%;
        display: flex;
        flex-direction: column;
        margin:auto;
        align-items: center;
        padding-bottom: 50px;
    }
}