.Weather {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    transition: all .3s ease-in-out;
}

.BackImage {
    position: fixed;
    background: url("../../assets/dark.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    z-index: -100;
}

.WeatherLeftLayout {
    width: 50%;
    height: 100%;
    padding: 150px 0 50px 0;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
}

.WeatherRightLayout {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding: 100px 0 50px 0;
}

.WeatherLeftLayout span {
    color: seashell;
    font-size: 13px;
    padding: 0 0 10px 5px;
    letter-spacing: 1px;
}

  
  @media (max-width:1024px) {
      .Weather {
          display: block;
      }

      .WeatherRightLayout, .WeatherLeftLayout {
          width: 100%;
          align-items: center;
          padding: 100px 0 0 0;
          overflow: visible;
      }

      .WeatherRightLayout {
          padding: 0;
      }
  }