.Weather {
    background: url("../../assets/dark.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
}

.WeatherLeftLayout {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.WeatherRightLayout {
    width: 50%;
    height: 100%;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    box-sizing: border-box;
    padding: 100px 0 50px 0;
}

.WeatherLeftLayout span {
    color: seashell;
    font-size: 13px;
    padding: 0 0 10px 5px;
    letter-spacing: 1px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.WeatherRightLayout::-webkit-scrollbar {
    display: none;
  }
  
 
  /* Hide scrollbar for Chrome, Safari and Opera */
.WeatherLeftLayout::-webkit-scrollbar {
    display: none;
  }
   