.Logo {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    cursor: pointer;
}

img {
    height: 100%;
}

.App-name {
     justify-content: center;
     display: flex;
     flex-direction: column;
    }

.Logo-name {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    font-family:"Acme";
    letter-spacing: 1px;
}

.App-type {
    margin: 0;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

@media (max-width:500px) {
    .Logo-name {
        font-size: 15px;
    }
    .App-type {
        font-size: 13px;
    }
}