.Logo {
    height: 100%;
    box-sizing: border-box;
    display: flex;
}

img {
    height: 100%;
}

.App-name {
     justify-content: center;
     display: flex;
     flex-direction: column;
    }

.Logo-name {
    margin: 0;
    font-size: 18px;
    color:teal;
    font-weight: 600;
    font-family:"Acme";
    letter-spacing: 1px;
}

.App-type {
    margin: 0;
    color: teal;
    font-family: "Comic Sans MS", cursive, sans-serif;
}