.Home {
    background: url("../../assets/dark.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SearchInput {
    display: flex;
}

.Title {
    color: snow;
    font-weight: 200;
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin-bottom: 70px;
    font-size: 40px;
}