.Home {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: all .3s ease-in-out;
}

.HomeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.SearchInput {
    display: flex;
    margin-bottom: 22px;
}

.HomeBackImage {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: -100;
    transition: all .3s ease-in-out;
}

.Title {
    color: snow;
    font-weight: 200;
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin-bottom: 70px;
    font-size: 40px;
    text-shadow: 1px 1px 2px grey;
}

@media (max-width: 500px) {
    .SearchInput {
        flex-direction: column;
        align-items: center;
    }

    .SearchInput button {
        margin-top: 15px;
    }
}