.Home {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;
}

.SearchInput {
    display: flex;
}

.Title {
    color: snow;
    font-weight: 200;
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin-bottom: 70px;
    font-size: 40px;
}

@media (max-width: 500px) {
    .SearchInput {
        flex-direction: column;
        align-items: center;
    }

    .SearchInput button {
        margin-top: 15px;
    }
}