.CurrentWeatherCard {
    width: 425px;
    height: 275px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    margin: 20px 0;
    position: relative;
}

.CityName {
    color: seashell;
    font-size: 20px;
    font-family: "Amaranth" , sans-serif;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.WeatherStatus {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Temp {
    font-size: 35px;
    color: seashell;
    font-family: "Autour One" , sans-serif;
    margin: 0 15px;
}

.WeatherDetails {
    display: flex;
}

.Details {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 25px;
    box-sizing: border-box;
}

.Details p {
    color: seashell;
    margin-top: 5px;
}

.Time {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color:  rgba(58, 57, 57, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Time p {
    color: seashell;
    font-size: 13px;
    margin:0;
    font-family: "Tauri",sans-serif;
}

.WeatherCondition {
    color: seashell;
    font-size: 16px;
    font-family: "Tauri",sans-serif;
}

@media (max-width) {
    .CurrentWeatherCard {
        width: 85%;
    }
}