.Header {
    width: 100%;
    height: 65px;
    background-color: white;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    box-shadow: 0 3px 2px 0 #eee;
}

a {
    text-decoration: none;
    color: teal;
    border-bottom: 2px solid transparent;
    transition: all .3s linear;
    padding: 0 10px 3px 10px;
}

a:hover {
    border-bottom: 2px solid #505050;
}

i {
    color:teal;
    font-size: 25px;
}